
/* this is the whole container of img */
.figure {
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding-bottom: 20px;
}
/* this is only for the images */
.figure-img {
    min-height: 300px;
}