#navbar-Nav {
    background-color: lightgrey;
}

#nav-barNav {
    background-color: white;
}

.navbarNav {
    background: pink;
}

.navbar-nav > li {
    margin-left:17px;
    margin-right:17px;
}

#nav-barNav {
    margin-right: 10%;
    margin-left: 10%;
}

.jumbotron {
    margin-right: 10%;
    margin-left: 10%;
    background-color: pink;
    min-height: 300px;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* this is the whole container of img */
.figure {
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding-bottom: 20px;
}
/* this is only for the images */
.figure-img {
    min-height: 300px;
}