body {
    background-color: #F3F2F1;
}

.container-all {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #55d6aa;
    border: 1px solid white;
    margin-top: 40px;
}

#title, h2 {
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    float: right;
    margin: 10px;
}

p {
    color: black;
    font-size: x-large;
    font-family: 'Chilanka', cursive;
}

.most-inner-list {
    text-align: left;
}

header {
    background-color: #55d6aa;
}

span {
    color: cornflowerblue;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    color: #000;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}